<form [formGroup]="form">
  <h2 mat-dialog-title>ارسال درخواست همکاری</h2>
  <mat-dialog-content class="vertical-gap-10">
    <mat-form-field class="full-width">
      <input matInput type="text" name="firstName" placeholder="نام" formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" name="lastName" placeholder="نام خانوادگی" formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field class="full-width ltr-input">
      <input matInput type="email" name="email" placeholder="ایمیل" formControlName="email" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="tel" name="cellphone" placeholder="تلفن" formControlName="cellphone" required>
    </mat-form-field>
    <div class="fx-row fx-start-center fx-gap-5">
      <input hidden #file type="file" (change)="onFileChange(file.files)" />
      <button mat-button color="accent" (click)="file.click()">بارگذاری رزومه</button>
      <div *ngIf="uploadPercentage != null">در حال بارگذاری فایل {{uploadPercentage}}٪</div>
      <div *ngIf="selectedFile && isFileUploaded">فایل {{selectedFile.name}} با موفقیت بارگذاری شد.</div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="button" mat-dialog-close cdkFocusInitial>لغو</button>
    <button mat-button type="submit" color="primary" (click)="submit()" [disabled]="form.invalid">ارسال</button>
  </mat-dialog-actions>
</form>
